<%= form_for (@request) do |f| %>
    <%= f.label(:description, "Förfrågan") %><br/>
    <%= f.text_area(:description) %><br/>
    <%= f.label(:city, "Plats") %><br/>
    <%= collection_select(:city, :city_id, City.all, :id, :name)%><br/>
    <%= f.label(:time, "Tid") %><br/>
    <%= f.date_field(:time) %><br/>
    <button type="submit" class="success button" >Save</button>

<% end %>
