<h3>Din förfrågan</h3>
<h4>Här finner du all information om din förfrågan</h4>
<%= @request.description %>
<h5>Skapad</h5>
<%= @request.time.strftime("%Y-%m-%d %H:%M") %>
<h5>Stad</h5>
<%= @request.city.name %> </br>


<% if @request.answers %>
<% @request.answers.each do |a|%>
<%= a.user.name %>
<%= a.user.rating %>
<%= a.user.address %>
<%= a.user.phone %>
<%= a.user.email %>
<%= a.user.pricerange %>
<% end %>
<% else %>
<p>Det finns inga svar</p>

<% end %>
